<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
    <li class="breadcrumb-item">{{pageTitle}}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl2">
      {{pageTitle}}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/entries" class="btn btn-success float-end">Voltar</a>
  </div>
</div>

<form [formGroup]="entryForm">
  <div class="card">
    <div class="card-header">Informações gerais</div>

    <div class="card-body">
      <div class="row">
        <div class="form-item col-lg-4 col-md-4 col-sm-12">
          <label for="name">Nome</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
          />
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('name').invalid &&
              entryForm.get('name').touched
            "
          >
            <div *ngIf="entryForm.get('name').errors.required">
              dado obrigatório
            </div>
            <div *ngIf="entryForm.get('name').errors.minLength">
              deve ter no mínimo 2 caracteres
            </div>
          </div>
        </div>

        <div class="form-item col-lg-8 col-md-8 col-sm-12">
          <label for="name">Descrição</label>
          <input
            formControlName="description"
            type="text"
            class="form-control"
            id="description"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorsMessages">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorsMessages">
        {{error}}
      </li>
    </ul>
  </div>
  <button
    [disabled]="submittingForm || entryForm.invalid"
    type="button"
    class="btn btn-primary btn-lg float-end mt-3"
    (click)="submitForm()"
  >
    Salvar
  </button>
</form>
