<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
    <li class="breadcrumb-item">{{ pageTitle }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl2">
      {{ pageTitle }}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/entries" class="btn btn-success float-end">Voltar</a>
  </div>
</div>

<form [formGroup]="entryForm">
  <div class="card">
    <div class="card-header">Informações gerais</div>

    <div class="card-body">
      <div class="row">
        <div class="form-item col-lg-4 col-md-4 col-sm-12">
          <label for="type">Tipo</label>
          <select
            name="type"
            id="type"
            formControlName="type"
            class="form-control"
          >
            <option *ngFor="let option of typeOptions" [value]="option.value">
              {{ option.text }}
            </option>
          </select>

          <div
            class="text-danger"
            *ngIf="
              entryForm.get('type').invalid && entryForm.get('type').touched
            "
          >
            <div *ngIf="entryForm.get('type').errors.required">
              dado obrigatório
            </div>
          </div>
        </div>

        <div class="form-item col-lg-4 col-md-4 col-sm-12">
          <label for="name">Lançamento</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
          />
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('name').invalid && entryForm.get('name').touched
            "
          >
            <div *ngIf="entryForm.get('name').errors.required">
              dado obrigatório
            </div>
            <div *ngIf="entryForm.get('name').errors.minLength">
              deve ter no mínimo 2 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-item col-lg-4 col-md-4 col-sm-12">
          <label for="name">Valor</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">R$</span>
            <input
              type="text"
              name="amount"
              id="amount"
              formControlName="amount"
              class="form-control"
              aria-label="amount"
              aria-describedby="basic-addon1"
              [imask]="imaskConfig"
            />
          </div>

          <div
            class="text-danger"
            *ngIf="
              entryForm.get('amount').invalid && entryForm.get('amount').touched
            "
          >
            <div *ngIf="entryForm.get('amount').errors.required">
              dado obrigatório
            </div>
            <div *ngIf="entryForm.get('amount').errors.minLength">
              deve ter no mínimo 2 caracteres
            </div>
          </div>
        </div>

        <div class="form-item col-lg-4 col-md-4 col-sm-12">
          <label for="name">Data</label>
          <p-calendar
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            class="control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBr"
          ></p-calendar>
        </div>
      </div>
      <div class="row categories-row">
        <div class="form-item col-lg-2 col-md-2 col-sm-12 me-2">
          <div class="btn-group btn-paid">
            <label
              (click)="setPaidValue(true)"
              class="label"
              [class.active]="entryForm.get('paid').value === true"
              class="btn btn-outline-info"
              >Pago</label
            >
            <label
              (click)="setPaidValue(false)"
              class="label"
              [class.active]="entryForm.get('paid').value === false"
              class="btn btn-outline-info"
              >Pendente</label
            >
          </div>
        </div>

        <div class="form-item col-lg-3 col-md-3 col-sm-12">
          <label for="categoryId">Categoria</label>
          <select
            class="form-control"
            formControlName="categoryId"
            name="categoryId"
            id="categoryId"
          >
            <option *ngFor="let category of categories" [value]="category?.id">
              {{ category?.name }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('categoryId').invalid &&
              entryForm.get('categoryId').touched
            "
          >
            <div *ngIf="entryForm.get('categoryId').errors.required">
              dado obrigatório
            </div>
          </div>
        </div>
        <div class="form-item col-lg-6 col-md-6 col-sm-12">
          <label for="name">Descrição</label>
          <input
            formControlName="description"
            type="text"
            class="form-control"
            id="description"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorsMessages">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorsMessages">
        {{ error }}
      </li>
    </ul>
  </div>
  <button
    [disabled]="submittingForm || entryForm.invalid"
    type="button"
    class="btn btn-primary btn-lg float-end mt-3"
    (click)="submitForm()"
  >
    Salvar
  </button>
</form>
